<br />
<h2 class="tab_title">Stationery Item Management</h2>
<nv-editable-table [table-headers]="tableHeaders" [table-rows-with-id]="tableRowsWithId" [data-type]="dataType" (onremove)="onRemove($event)" class="ui table">
</nv-editable-table>
<hr />
<!-- <h1>Stationery Item Management</h1>
<table>
      <thead>
            <tr>
                  <th *ngFor="let title of service.tableHeadersObjects">{{title.content}}
                  <th></th>
            
      
      <tbody>
            <tr *ngfor="let row of service.tableRowsObjects">
                  <td *ngfor="let cell of row.cells">
                        <span *ngif="service.isEditing.indexOf(row) === -1 && service.checkTypeOf(cell.content) !== 'boolean'">{{cell.content}}</span>
                        <span *ngif="service.isEditing.indexOf(row) === -1 && service.checkTypeOf(cell.content) == 'boolean'">
                        {{cell.content ? 'Active' : 'Inactive'}}
                        </span>
                        <div class="ui input requiredInput" [ngclass]="{'error': !cell.content && cell.touched}" *ngif="!(service.isEditing.indexOf(row) == -1) && service.checkTypeOf(cell.content) !== 'boolean'">
                              <input type="text" [(ngmodel)]="cell.content" [name]="cell.content" #[cell.content]="ngModel" required />
                              <div [ngclass]="{'show': !cell.content && cell.touched, 
                                       'hide': cell.content}" class="divmessage" style="Color: red;" [hidden]="cell.content">
                                    <div>{{requiredMessage}}</div>
                              </div>
                        </div>
                        <div *ngif="!(service.isEditing.indexOf(row) == -1) && service.checkTypeOf(cell.content) === 'boolean'" class="field checkboxContainer">
                              <div class="ui toggle checkbox">
                                    <input type="checkbox" name="public" [(ngmodel)]="cell.content" />
                                    <label>{{cell.content ? 'Active' : 'Inactive'}}</label>
                              </div>
                        </div>
                  </td>
                  <td>
                        <button *ngif="service.isEditing.indexOf(row) === -1 " (click)="service.editRow(row)">
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                        <button *ngif="!(service.isEditing.indexOf(row) == -1)" (click)="service.saveRow(row)">
                      <i class="fa fa-check"></i>
                    </button>
                        <button *ngif="service.isEditing.indexOf(row) === -1" (click)="service.deleteRow(row)">
                      <i class="fa fa-times"></i>
                    </button>
                        <button *ngif="!(service.isEditing.indexOf(row) == -1) " (click)="service.cancelEdition(row)">
                      <i class="fa fa-times"></i>
                    </button>                 
                  </td>
            </tr>
      </tbody>
      <tfoot>
            <tr>
                  <th *ngfor="let title of service.tableHeadersObjects"></th>
                  <th>
                        <button (click)="service.addRow()">
                          <i class="fa fa-plus"></i>
                      </button>
                  </th>
            </tr>
      </tfoot>
 -->